body{
    background-color: #141414;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 50px;
}
.social{
    background-color: #1f1f1f;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 10px;
}
.social img{
    padding-top: 20px;
}
.name{
    color: #bfbfbf;
    font-weight: 800;
    font-size: 30px;
}
.oyo{
    color: #c5f82a;
    font-size: 500;
    font-weight: bolder;
}
#end{
    margin-bottom: 10px;
}
button{
    width: 250px;
    height: 40px;
    border-radius: 15px;
    background-color: #333333;
    border: none;
}
.social a button{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.social button:hover{
    background-color: #c5f82a;
    cursor: pointer;
    border: 1px solid #c5f82a;
    border-spacing: 10px;
}

.social a button:hover{
    color: black;
}
